---
layout: home
cover-img: /assets/images/coriolis.jpg
carousels:
  - images: 
    - image: /assets/images-cermics/image1.jpg
    - image: /assets/images-cermics/image6.jpg
    - image: /assets/images-cermics/image2.jpg
    - image: /assets/images-cermics/image4.jpg
    - image: /assets/images-cermics/image7.jpg
    - image: /assets/images-cermics/image8.jpg
---

<img src="{{ '/assets/images/logos_cermics.png' | relative_url }}"
     align="left" hspace="20" vspace="20" /> 
<p style="text-align: justify;">    
CERMICS
is the research center in applied mathematics of <a
href="http://www.enpc.fr/en" target="_blank">&Eacute;cole nationale des ponts et
chaussées</a>. It is a joint research unit with <a href="https://www.cnrs.fr/en"
target="_blank">CNRS</a> (UMR 9032). It hosts joint project-teams with <a
href="https://www.inria.fr/en/centre/paris" target="_blank">Inria</a> <a
href="https://www.inria.fr/en/centre/paris" target="_blank"> Paris</a> and <a
href="https://www.univ-gustave-eiffel.fr/en/" target="_blank">University Gustave
Eiffel</a>, and is part of the <a
href="https://bezout.univ-paris-est.fr/bezout-federation/">Bézout CNRS
Federation</a> and the doctoral school <a
href="https://www.fondation-hadamard.fr/en/campus-paris-saclay/training/edmh/"
target="_blank">EDMH</a>. The acronym CERMICS stands for “Centre d’Enseignement
et de Recherche en MathématIques et Calcul Scientifique”, literally “Center for
Training and Research in MathematIcs and Scientific Computing”. 
</p>

{% include carousel.html height="20" unit="%" duration="5" number="1" %}

<p style="text-align: justify;">    
Researchers are working in three main areas: <a href={% link applied-probability.md %}>Applied
    Probability</a>; <a href={% link mas.md %}>Modeling, Analysis and Simulation</a>;
<a href={% link optimization.md %}>Optimization</a>.
The originality of the center lies in its ability to build bridges between
deterministic and stochastic approaches and to produce both theoretical results
and numerical methods, with strong interactions with industrial partners from
various domains (transport, energy, finance, engineering, pharmaceutical
companies) and academic scientists from other fields (biology, chemistry,
physics and material sciences).
</p>
<br>

Below are some videos giving some idea of the research done at CERMICS. See the
<a href="https://www.youtube.com/playlist?list=PLFIuidaxkf2wkSgZ_dtPNx8aIpMvyLjak"
target="_blank">complete playlist</a>. 
See also the <a href="https://www.youtube.com/playlist?list=PLFIuidaxkf2xSjc6T5jh4g8PRnmPHQGTy"
target="_blank">playlist of students</a> at CERMICS presenting their works, and
the <a href="https://ingenius.ecoledesponts.fr/recherche/?s=CERMICS"
target="_blank">contributions of CERMICS members to Ingenius</a>, the digital
magazine of &Eacute;cole des Ponts.

<h4>Permanent Researchers</h4>

<br>
{% include staff_gallery.html %}

<h4>Cermics Video Presentation</h4>
<br>
<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/L7EKxGnzf5k?si=HrF7pmtDO3J3CevC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</center>


<h4>Permanent Researchers videos</h4>

<br>
{% include staff_youtube.html %}

